<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <enlace href="https: //fonts.googleapis.com/css2? family= Poppins:wght@300 & family= Roboto:wght@300 & display=swap" rel="hoja de estilo"></enlace>
    
        <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/stylesIndex.css">
    </head>

    <body>

            <%- include('./partials/header'); %>    
        
        <div class="slide">
			<div class="slide-inner">
				<input class="slide-open" type="radio" id="slide-1" 
			 	     name="slide" aria-hidden="true" hidden="" checked="checked">
				<div class="slide-item">
					<img src="./images/banner_1.png">
				</div>
				<input class="slide-open" type="radio" id="slide-2" 
			 	     name="slide" aria-hidden="true" hidden="">
				<div class="slide-item">
					<img src="./images/banner_2.png">
				</div>
				<input class="slide-open" type="radio" id="slide-3" 
			 	     name="slide" aria-hidden="true" hidden="">
				<div class="slide-item">
					<img src="./images/banner_3.png">
				</div>
				<label for="slide-3" class="slide-control prev control-1">‹</label>
				<label for="slide-2" class="slide-control next control-1">›</label>
				<label for="slide-1" class="slide-control prev control-2">‹</label>
				<label for="slide-3" class="slide-control next control-2">›</label>
				<label for="slide-2" class="slide-control prev control-3">‹</label>
				<label for="slide-1" class="slide-control next control-3">›</label>
				<ol class="slide-indicador">
					<li>
						<label for="slide-1" class="slide-circulo">•</label>
					</li>
					<li>
						<label for="slide-2" class="slide-circulo">•</label>
					</li>
					<li>
						<label for="slide-3" class="slide-circulo">•</label>
					</li>
				</ol>
			</div>
 
		</div>

        <div class="bottom-var">
            <nav>
                <ul class="var">
                    <li><a href="#" class="a_1">Envios gratis a todo el país</a></li>
                    <li><a href="#" class="a_2">Hasta en 10 cuotas sin interes en productos selecionados</a></li>
                    <li><a href="#" class="a_3">Compra protegido, tenes devoluciones gratis</a></li>
                </ul>
            </nav>
        </div>

        <div class="bannerCel">
            <img src="./images/bannerCel.png" class="imgCel">
        </div>

        <main>

            <section>
                <h3>Descubre todas las ofertas que tenemos para voz</h3>
                <div class="products">
                    <% inSale.forEach(product => { %>
                        <div class="article">
                            <article>
                                <a href="/detail/<%= product.id %> " class="href">
                                    <h4 class="name"><%= product.name %> </h4>
                                    <img src="/images/products/<%= product.image %>" class="product_img">
                                    <div class="box-description">
                                        <p class="price">$ <%= product.price %> </p>
                                        <p class="discount"><%= product.discount %> % OFF</p>
                                        <p class="description">en 10 cuotas de </p>
                                    </div>
                                </a>
                            </article>
                        </div>
                    <% }) %>
                </div>  
            </section> 

            <section>
                <h3>Smartphones</h3>
                <div class="products">
                    <% smartphones.forEach( product => { %>
                        <div class="article">
                            <article>
                                <a href="/detail/<%=product.id %> " class="href">
                                    <h4 class="name"><%= product.name %></h4>
                                    <img src="/images/products/<%= product.image %>" class="product_img">
                                    <div class="box-description">
                                        <p class="price">$ <%= product.price %></p>
                                        <p class="discount"><%= product.discount %> % OFF</p>
                                        <p class="description">en 10 cuotas de </p>
                                    </div>
                                </a>
                            </article>
                        </div>
                    <% }) %>
                </div>
            </section>

            

        </main>

        <footer>

            <%- include ("./partials/footer"); %> 

        </footer>
    </body>
</html>