<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <enlace href="https: //fonts.googleapis.com/css2? family= Poppins:wght@300 & family= Roboto:wght@300 & display=swap" rel="hoja de estilo"></enlace>
        <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
        <!-- linkeamos CSS -->
        <link rel="stylesheet" href="/css/productEdit.css">
    </head>
<body>
    <%- include('./partials/header'); %>
    <main>
        <div class="title">
            <h2 class="product-title">Estás editando: <i>   </i></h2>
        </div>

        <div class="formProductEdit">
			<form action="/edit/<%= products.id %> ?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="product-box">
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name" value="           " class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="text" id="price" name="price" value="          " class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="discount" class="form-label">Descuento:</label>
						<input type="text" id="discount" name="discount" value="         " class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<option value="" disabled> Selecionar categoría </option>
							<option value="in-sale"    <%= products.category === 'in-sale' ? 'selected' : '' %> >En oferta</option>
							<option value="visited"    <%= products.category === 'visited' ? 'selected' : '' %> >Últimos visitados</option> -->
						</select>
					</div>
					<div class="col-12">
						<label for="description" class="form-label">Descipción:</label>
						<textarea name="description" id="description" class="form-input">          </textarea>
					</div>
					<div class="col-12">
						<label for="image" class="form-label">Imagen</label>
						<input type="file" name="image" class="form-input">
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Guardar cambios</button>
					</div>
					<form action="/delete/<%= products.id %>?_method=DELETE" method="POST">
						<button type="submit" class="action-button delete">ELIMINAR</button>
					</form>
				</div>
			</form>
		</div>

    </main>
    <footer>
        <%- include ("./partials/footer")  %> 
    </footer>
</body>
</html>