<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/stylesproductDetail.css">
        <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('./partials/header'); %>
        <main>
            <section class="producto">

                    <div class="product-img-container">
                        <img src="/images/products/<%= product.image %> " class="product-img">
                    </div>
               
                <div class="detalles-producto">
                    <div class="nombre-producto">
                        <p class="telefono-producto"><strong><%= product.name %> </strong></p>
                        <p class="price">$ <%= product.price %> </p>
                        <p class="texto">Hasta <strong>12 cuotas sin interés</strong> CON TARJETAS SELECCIONADAS</p>
                    </div>

                    <div class="tarjetas-producto">
                        <div class="detalle-producto">
                            Principales especificaciones
                        </div>
                        <div class="detalle">
                            <p><i class="fa-solid fa-gear"></i>Sistema operativo</p>
                            <p><i class="fa-solid fa-sd-card"></i>Memoria interna<%= product.rom %></p>
                            <p><i class="fa-solid fa-mobile-screen"></i>Resolucion</p>
                        </div>
                    </div>
                    <div class="boton-comprar-producto">
                        <p>Comprar</p>
                    </div>
                </div>
            </section>
            <section class="specs">
                <p class="text-detail"><%= product.description %> </p>
                <h3 >Especificaciones</h3>
                <div class="specs-product">
                        <div class="pantalla">
                            <p><strong>Calidad </strong><%= product.quality %>x<%= product.quality2 %></p>
                            <p><strong>Pulgadas </strong><%= product.inches %> '</p>
                            <p><strong>Tipo </strong><%= product.type %> </p>
                        </div>                  
                        <div class="camara">
                            <p><strong>Camara </strong> <%= product.qualitycam %> MP</p>
                            <p><strong>Frontal </strong> <%= product.qualitycamf %> MP </p>
                            <p><strong>Grabacion </strong> <%= product.recorder %> P </p>
                        </div>
                        <div class="almacenamiento">
                            <p><strong>Rom </strong> <%= product.rom %> GB </p>
                            <p><strong>Ram </strong> <%= product.ram %> GB </p>
                            <p><strong>SD </strong> <%= product.maxsd %> GB </p>
                        </div>                  
                </div>
                <h4>Video referencial</h4>
                <div class="video">
                <iframe width="560" height="315" src="<%= product.url %> " title="YouTube video player" rameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </section>
        </main>

        <footer>
            <%- include ("./partials/footer")  %> 
        </footer>
    </body>
</html>