<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <enlace href="https: //fonts.googleapis.com/css2? family= Poppins:wght@300 & family= Roboto:wght@300 & display=swap" rel="hoja de estilo"></enlace>
    
        <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/products.css">
    </head>

    <body>

            <%- include('./partials/header'); %>

        <main>              

        <div class="logos-cel">
            <div><img src="/images/logos/1.png"><a href="#">HUAWEI</a></div>
            <div><img src="/images/logos/2.png"><a href="#">ZTE</a></div>
            <div><img src="/images/logos/3.png"><a href="#">XIAOMI</a></div>
            <div><img src="/images/logos/4.png"><a href="#">MOTOROLA</a></div>
            <div><img src="/images/logos/5.png"><a href="#">SAMSUNG</a></div>
            <div><img src="/images/logos/6.png"><a href="#">APPLE</a></div>  
        </div> 
    
            <h3>Descubre las mejores promociones</h3>
            <section>
                    <% products.forEach(product => { %>
                        <div class="article">
                            <article>
                                    <h4 class="name"><%= product.name %> </h4>
                                    <img src="/images/products/<%= product.image %>" class="product_img">
                                    <div class="box-description">
                                        <p class="price">$ <%= product.price %> </p>
                                        <p class="discount"><%= product.discount %> % OFF</p>
                                        <p class="description">en 10 cuotas de </p>
                                        <a href="/detail/<%= product.id %> " class="btn-detail">Comprar</a>
                                    </div>
                            </article>
                        </div>
                    <% }) %>
            </section> 

        </main>

        <footer>

            <%- include ("./partials/footer"); %> 

        </footer>
    </body>
</html>