<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register Ikaro's Phones</title>

        <enlace href="https: //fonts.googleapis.com/css2? family= Poppins:wght@300 & family= Roboto:wght@300 & display=swap" rel="hoja de estilo"></enlace>
    
        <script src="https://kit.fontawesome.com/5309449a51.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/register.css">
    </head>
    <body>
        <%- include('./partials/header'); %>

        <main>
            <form method="POST" action="/register" class="form-register" enctype="multipart/form-data">

                <h4 class="form-title"> Crear una cuenta </h4>
                
                <div class="form-container">
                    <div class="container">
                        <label for="full-name">Nombre y Apellido</label>
                        <input type="text" placeholder="ejem.: Juan Ramirez" name="fullName"
                        class="form-control <%= locals.errors && errors.fullName ? 'is-invalid' : null %>"   
                        value="<%= locals.oldData ? oldData.fullName : null %>"
                        >
                        <div style="color:#ff3c00"> <%= (locals.errors && errors.fullName ? errors.fullName.msg : null) %> </div>
                    </div>
                   
                    <div class="container">
                        <label for="email"> Ingresa tu email</label>
                        <input type="text" placeholder="ejem.: example@gmail.com" name="email"
                        class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.email : null %>"
                        >
                        <div style="color:#ff3c00"> <%= (locals.errors && errors.email ? errors.email.msg : null) %> </div>
                    </div>

                    <div class="container">
                        <label for="avatar"> Selecciona una imagen de perfil </label>
                        <input type="file" name="avatar"
                        class="form-control <%= locals.errors && errors.avatar? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.avatar : null %>"
                        >
                        <div style="color:#ff3c00"> <%= (locals.errors && errors.email ? errors.email.msg : null) %> </div>
                    </div>
                    
                    <div class="container">
                        <label for="tel"> Telefono </label>
                        <input type="tel" placeholder="ejem.: 11 12345678" name="tel"
                        class="form-control <%= locals.errors && errors.tel ? 'is-invalid' : null %>"
                        value="<%= locals.oldData ? oldData.tel : null %>"
                        >
                        <div style="color:#ff3c00"> <%= (locals.errors && errors.email ? errors.email.msg : null) %> </div>
                    </div>

                    <div class="container">
                        <label for="password"> Ingresa tu contraseña </label>
                        <input type="password" placeholder="Escribir contraseña" name="password"
                        class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                        >
                        <i class="fa-solid fa-eye"></i>
                        <div style="color:#ff3c00"> <%= (locals.errors && errors.password ? errors.password.msg : null) %> </div>
                    </div>

                    <% if (typeof data != 'undefined') { %>
                        <p>Bienvenido <%= data.fullName %> a Ikaro's Phones </p>
                    <% } %>  

                </div>
            
                <button type="submit" class="btn-register" >REGISTRAR</button>

                <div class="login">
                    <a href="./login">¿Ya tiene cuenta? Inicie Sesion</a>
                </div>

            </form>

            <div class="legales">
                <a href=""> Terminos y condiciones </a>
                <a href=""> Uso de datos personales </a>
                <a href=""> Ayuda </a>
            </div>

        </main>

        <footer>
            <%- include ("./partials/footer")  %> 
        </footer>
    </body>
</html>